<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <title>Demo asks: How was your week? - Butterfly</title>
  <meta name="theme-color" content="#166E78">

  <link rel="stylesheet" href="../css/rating.css">

  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/js/star-rating.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body class="u-flex-row question">
  <div class="reply-left-menu">
    <div class="reply-left-menu__butterfly js-butterflyIcon">
      <svg width="40" height="31" viewBox="0 0 40 31" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M32.687 1.65c-.932 0-1.78.203-2.47.452-3.3 1.19-6.198 4.565-7.38 8.596-.532 1.813-.966 4.91-1.11 8.01 2.632-.198 5.152-.71 7.19-1.54-.555-1.703-1.896-3.2-3.822-4.114a.827.827 0 0 1 .71-1.494c2.282 1.085 3.896 2.85 4.62 4.888 3.803-2.085 7.68-6.132 7.91-9.668.107-1.64-.634-3.006-2.202-4.063a6.06 6.06 0 0 0-3.446-1.068M10.44 17.472c2.1.743 4.652 1.173 7.28 1.293-.02-2.795-.255-5.784-.69-8.382-.715-4.26-4.39-7.206-7.714-8.238-2.703-.84-5.116-.513-6.454.874-1.297 1.343-1.317 3.15-1.104 4.43.592 3.564 3.58 7.557 6.952 9.286l.198.1c.698-2.265 2.354-4.116 4.79-5.237a.827.827 0 0 1 .692 1.5c-2.062.95-3.42 2.48-3.95 4.373m-.248 1.664c-.012.41.01.83.064 1.263.506 3.947 2.664 7.377 4.363 8.103.52.223.95.186 1.356-.112 1.07-.787 1.63-4.043 1.73-7.96-2.684-.12-5.297-.55-7.514-1.293m11.488 1.24c-.036 3.37.322 6.465 1.328 7.572.86.945 1.417.803 1.6.756 1.675-.427 3.495-4.548 4.428-8.396a5.77 5.77 0 0 0 .163-1.475c-2.184.836-4.806 1.35-7.52 1.542m2.67 10.016c-.72 0-1.623-.294-2.566-1.332-1.35-1.482-1.802-4.95-1.774-8.606-.218.005-.435.008-.652.008-.082 4.102-.685 7.996-2.4 9.26-.876.645-1.937.752-2.99.302-2.46-1.052-4.81-5.187-5.353-9.414a9.417 9.417 0 0 1-.04-2.103c-.21-.096-.42-.196-.62-.3C4.163 16.264.796 11.755.126 7.72c-.393-2.37.142-4.394 1.547-5.85C3.452.025 6.494-.462 9.806.566c3.53 1.095 7.968 4.252 8.855 9.544.312 1.857.664 5.232.704 8.69.23 0 .46-.004.69-.01.15-3.402.66-6.732 1.195-8.558 1.346-4.59 4.567-8.302 8.406-9.687 2.61-.94 5.24-.657 7.402.8 2.06 1.39 3.073 3.305 2.928 5.542-.284 4.395-4.903 9.027-9.174 11.23a7.437 7.437 0 0 1-.168 2.583c-.495 2.043-2.365 8.776-5.626 9.61-.197.05-.42.083-.667.083"
          fill-rule="evenodd" />
      </svg>
    </div>
  </div>
  <div class="u-flex-column u-flex-1">

    <div class="js-progress-bar"></div>

    <div class="question-body js-body">
      <form action="/index" method="post">
        <div class="question-mood-value js-moodValue is-<%=selectedSmile%>">

          <div class="question-mood-value__smiley is-1">
            <input type="submit" value="change">
            <svg width="64" height="65" viewBox="0 0 64 65" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16.623 49.287c0-8.533 6.91-15.54 15.438-15.54 7.197 0 13.243 4.804 14.953 11.504.063.185.107.45.132.64a17.03 17.03 0 0 1 .353 3.397H16.623zm4.934-28.758a4.21 4.21 0 1 1 0 8.422 4.21 4.21 0 0 1 0-8.423zm21.12 0a4.21 4.21 0 1 1-.003 8.42 4.21 4.21 0 0 1 .004-8.42zM32 .5C14.327.5 0 14.826 0 32.5c0 17.673 14.327 32 32 32 17.673 0 32-14.327 32-32 0-17.674-14.327-32-32-32z"
                fill="#F45D6F" fill-rule="evenodd" />
            </svg>
            </input>
          </div>
          <div class="question-mood-value__smiley is-2">
            <input type="submit" value="change">
            <svg width="64" height="65" viewBox="0 0 64 65" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M45.97 48.47a2.88 2.88 0 0 1-4.004-.636c-.16-.21-3.272-4.198-9.966-4.198-6.628 0-9.39 3.924-9.507 4.092a2.845 2.845 0 0 1-2.4 1.303 2.89 2.89 0 0 1-1.572-.466c-1.334-.865-1.706-2.663-.84-3.998.176-.273 4.446-6.69 14.32-6.69 9.786 0 14.434 6.306 14.626 6.574a2.88 2.88 0 0 1-.656 4.02M21.557 20.53a4.21 4.21 0 1 1 .002 8.42 4.21 4.21 0 0 1-.003-8.42m21.12 0a4.21 4.21 0 0 1 4.21 4.21 4.21 4.21 0 1 1-4.21-4.21M32 .5C14.327.5 0 14.826 0 32.5c0 17.673 14.327 32 32 32 17.674 0 32-14.327 32-32 0-17.674-14.326-32-32-32"
                fill="#F98371" fill-rule="evenodd" />
            </svg>
            </input>
          </div>
          <div class="question-mood-value__smiley is-3">
            <input type="submit" value="change">
            <svg width="64" height="65" viewBox="0 0 64 65" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M44.29 46.087H20.095c-1.59 0-2.88-1.608-2.88-3.2 0-1.59 1.29-3.2 2.88-3.2H44.29c1.59 0 2.88 1.61 2.88 3.2 0 1.592-1.29 3.2-2.88 3.2M21.557 20.53a4.21 4.21 0 1 1 0 8.42 4.21 4.21 0 0 1 0-8.42m21.12 0a4.21 4.21 0 1 1 .002 8.42 4.21 4.21 0 0 1-.002-8.42M32 .5C14.328.5 0 14.826 0 32.5c0 17.673 14.327 32 32 32 17.675 0 32-14.327 32-32 0-17.674-14.325-32-32-32"
                fill="#FFAC73" fill-rule="evenodd" />
            </svg>
            </input>
          </div>
          <div class="question-mood-value__smiley is-4">
            <input type="submit" value="change">
            <svg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M46.705 41.822c-.177.273-4.448 6.69-14.32 6.69-9.786 0-14.434-6.306-14.627-6.575a2.88 2.88 0 0 1 4.66-3.383c.16.21 3.272 4.198 9.966 4.198 6.67 0 9.46-4.02 9.487-4.062a2.88 2.88 0 1 1 4.835 3.132M21.557 20.03a4.21 4.21 0 1 1 0 8.42 4.21 4.21 0 0 1 0-8.42m21.122 0a4.21 4.21 0 1 1-.003 8.42 4.21 4.21 0 0 1 .002-8.42M31.998 0C14.328 0 0 14.327 0 32c0 17.673 14.328 32 32 32 17.673 0 32-14.327 32-32C64 14.327 49.673 0 32 0"
                fill="#AEEB7E" fill-rule="evenodd" />
            </svg>
            </input>
          </div>
          <div class="question-mood-value__smiley is-5">
            <input type="submit" value="change">
            <svg width="64" height="65" viewBox="0 0 64 65" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M32.235 52.992c-8.526 0-15.438-6.905-15.438-15.438h30.876c0 8.533-6.912 15.438-15.438 15.438M21.557 20.53a4.21 4.21 0 1 1 .002 8.42 4.21 4.21 0 0 1-.003-8.42m21.12 0a4.21 4.21 0 1 1 .002 8.42 4.21 4.21 0 0 1-.002-8.42M32 .5C14.327.5 0 14.827 0 32.5c0 17.673 14.327 32 32 32 17.674 0 32-14.327 32-32 0-17.673-14.326-32-32-32"
                fill="#34EB7E" fill-rule="evenodd" />
            </svg>
            </input>
          </div>
          <div class="question-title">
            <h4 class="question-title__text">
              <span class="question-mood-value__smiley-name is-5">Awesome!</span>
              <span class="question-mood-value__smiley-name is-4">Great!</span>
              <span class="question-mood-value__smiley-name is-3">OK… things could be better.</span>
              <span class="question-mood-value__smiley-name is-2">Mmmmh, things should improve.</span>
              <span class="question-mood-value__smiley-name is-1">Oops, something needs to change.</span>
              Thank you for your Feedback.
            </h4>
            <div class="question-title__note">
              Your answers will <strong>always remain anonymous</strong>
            </div>
            <div class="question-title__managers">
            </div>
          </div>
          <div class="question-mood-value__right">
            <div class="question-mood-value__company-name"><bdo dir="auto">Demo Pabz.</bdo></div>
          </div>
        
        </div>
      </form>

      <form action="/thanks" method="post">
        <input type="hidden" id="selectedSmileId" name="selectedSmile" value=<%=selectedSmile%>> </input>

        <% for(var i=0; i<feedbackData.length; i++) {%>
          <div class="question-form-poll">
            <h5 class="question-form-poll__driver">
              <%=feedbackData[i].feedbackTitle%>
            </h5>
            <div class="question-form-poll__header">
              <h4 class="question-form-poll__name"><bdo dir="auto">
                  <%=feedbackData[i].header%>
                </bdo></h4>
            </div>
            <input type="hidden" name=<%="feedbackTitle_" +i%> value= <%=feedbackData[i].feedbackTitle%>> </input>
              <input id="ratinginput"  name=<%="rating_" +i%> class="rating rating-loading" data-min="1" data-max="10"
              data-step="1" value="1"></input>

              <button type="button" class="question-form-poll__group__add-comment is-hidden js-addComment"
                data-target=<%="#toggle_" +i%> data-toggle="collapse">Add comment</button>
              <input id=<%="toggle_" +i%> name=<%="comment_"+i%> class="collapse question-textarea">
                  </input>
          </div>
          <% } %>

            <div class="question-form-reply">
              <div class="question-form-reply__arrow"></div>
              <div class="question-form-reply__header">
                <div class="question-form-reply__title">
                  Anything to add? (Optional)
                </div>
                <div class="question-form-reply__note">Extra feedback helps</div>
              </div>
              <input class="question-textarea" name="additionalComment"
                placeholder="This will always remain anonymous."></input>
            </div>
            <div class="submitDiv">
              <input id="sendButton" class="send-button" type="submit" value="Send">
            </div>
          
      </form>
    </div>

    <div class="footer
             sidebar
            ">
      <div class="footer__company">
        <bdo dir="ltr">Butterfly.</bdo>
      </div>
      <div class="footer__links">
        <a href="https://help.butterfly.ai" rel="noreferrer"><bdo dir="auto">Support</bdo></a>
        <a href="https://www.butterfly.ai/legal" rel="noreferrer" target="_blank"><bdo dir="auto">Terms of
            Service</bdo></a>
        <a href="https://www.butterfly.ai/legal" rel="noreferrer" target="_blank"><bdo dir="auto">Privacy
            Policy</bdo></a>
      </div>
      <div class="footer__copyright">
        <bdo dir="ltr">&copy;2021 Appynest, Inc.</bdo>
      </div>
    </div>
  </div>
</body>

</html>