<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <title>Thank you</title>
  <meta name="theme-color" content="#166E78">

  <!-- <link rel="stylesheet" href="../css/app.css" > -->
  <link rel="stylesheet" href="../css/app.min.css">
</head>

<body class="u-green1">
  <div class="demo-wrapper">

    <img class="demo-header" src="./assets/Butterfly.svg" />

    <div class="demo-body">

      <h4 class="demo-body__anonymous">
        Thank you!
      </h4>

      <h3>You added <%= firstRes %> rating as <%= firstRating %> with a suggestion <%= firstComment %>
      </h3>
      <h3>You added <%= secRes %> rating as <%= secRating %> with a suggestion <%= secComment %>
      </h3>
      <h3>You added <%= thirdRes %> rating as <%= thirdRating %> with a suggestion <%= thirdComment %>
      </h3>
      <h3>You added <%= fourthRes %> rating as <%= fourthRating %> with a suggestion <%= fourthComment %>
      </h3>
      <h3>You added <%= fifthRes %> rating as <%= fifthRating %> with a suggestion <%= fifthComment %>
      </h3>
      <h3>You added additinal comment <%= additionalComment %>
      </h3>

    </div>
    <div class="demo-body__anonymous">
      Your feedback has been sent.
      <br />
      Have a lovely day.
    </div>
  </div>

  <div class="demo-footer">
    <div class="demo-footer__motto">
      Butterfly. Your Team's Happiness Manager.
    </div>

    <div class="demo-footer__copy">
      Appynest, Inc. - 604 East Eleven Street, NY 10009</br>
      &copy;2021 Appynest, Inc. All rights reserved.
    </div>
  </div>
  </div>

</body>

</html>